nav {
  box-sizing: border-box;
  width: 100%;
  margin: 0 auto;

  @include breakpoint(700px) {
    width: 80%;
    padding: 0 30px;
  }

  ul {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    list-style: none;
    margin: 0;
    padding: 0; 
  }

  li {
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  @include linx($accent-color, $brand-color, $brand-color, $brand-color);
  a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
  }
}
