// Base Defaults
html,
body {
  background-color: $brand-color;
  height: 100%;
  width: 100%;
}

*,
*::after,
*::before {
  box-sizing: border-box;
 }

// Sticky Footer
.wrapper {
  display: flex;
  flex-direction: column;

  .banner {
    background-color: $secondary-color;
    flex-shrink: 0; // 2
  }

  .main {
    background-color: $container-color;
    flex: 1 0 auto; // 2

    &::after {
      content: "\00a0"; // &nbsp;
      display: block;
      margin-top: var(--space);
      height: 0;
      visibility: hidden;
    }
  }
}
