nav {
  margin: 0 auto;
  padding: 0 30px;
  width: 100%;

  @include breakpoint(700px) {
    width: 80%;
  }
  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    //flex: 1;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  }

  @include linx($accent-color, $brand-color, $brand-color, $brand-color);

  a {
    display: block;
    padding: 15px 20px;
    text-decoration: none;
  }
}
