// Colors

$brand-color:            #5e616a !default;
$secondary-color:        #e8aa8c !default;
$accent-color:           #f9f3e6 !default;
$text:                   #000 !default;
$gray:                   lighten($black, 80%);
$container-color:        $accent-color !default;

// Accessibility Text Adjustments
$text:                   color-compliance($container-color, $text);
$brand-text:             color-compliance($container-color, $brand-color);
$secondary-text:         color-compliance($container-color, $secondary-color);

$inverse:                color-compliance($text, $container-color);
$brand-inverse:          color-compliance($brand-color, $container-color);
$secondary-inverse:      color-compliance($secondary-color, $container-color);

$header:                 color-compliance($secondary-color, $brand-color);
$subtitle:               $secondary-text;
$link-color:             color-compliance($secondary-color, $accent-color);


// Links
@mixin linx ($link:$link-color, $visit:$header, $hover:$header, $active:$header) {
  a {
    color: $link;

    &:visited {
      color: $visit;
    }

    &:hover {
      color: $hover;
    }

    &:active {
      color: $active;
    }
  }
}

// Type
$modularscale: (
  base: 1em,
  ratio: $minor-second
);

$base-font:     'Vollkorn', serif !default;
$header-font:   'Unica One', cursive !default;

// Breakpoints
$phone-portrait:  320px;
$phone-landscape: 480px;
$tablets:         600px;
$tablet-wide:     780px;
$desktop:         1024px;
$desktop-wide:    1300px;
